@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: Montserrat, sans-serif;
}
.main {
    max-width: 850px;
    height: 100%;
    margin: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }